@model MonoProject.Common.GameInforQueryResource

@{
    ViewBag.Title = "View";
}

<div><h2>@Html.DisplayFor(model => model.Name)</h2></div>
<br>
<div>Description: @Html.DisplayFor(model => model.Description)</div>
<div>Release date: @Html.DisplayFor(model => model.ReleaseDate)</div>
<br>
<br>
@Html.ActionLink("Back to games index", "Index", "Games", new { area = "" }, null)
| @Html.ActionLink("Edit", "Edit", "Games", new { area = "", gameID = Model.ID }, null)
| @Html.ActionLink("Delete", "Delete", "Games", new { area = "", gameID = Model.ID }, null)
