@model IEnumerable<MonoProject.Common.GameInforQueryResource>

@{
    ViewBag.Title = "View1";
}

<h2>Games index</h2>

@Html.ActionLink("Add a new game", "Create", "Games", new { area = "" }, null)
<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { area = "" })
            </th>
            <th>
                Description
            </th>
            <th>
                @Html.ActionLink("Release date", "Index", new { area = "" })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Get", "Games", new { area = "", gameID = item.ID }, null)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Description)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />