@model PagedList.IPagedList<MonoProject.Common.GameInforQueryResource>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Games";
}

<h2>Games index</h2>

@Html.ActionLink("Add a new game", "Create", "Games", new { area = "" }, null)
<br>
<br>

@using (Html.BeginForm("Index", "Games/Index", FormMethod.Get))
{
    <p>
        Search by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Description
            </th>
            <th>
                @Html.ActionLink("Release date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Get", "Games", new { area = "", gameID = item.ID }, null)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Description)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))